/*

Add styles or override variables from the theme here.

*/
.td-navbar .navbar-brand svg{height: auto !important;}

.el-radio__label {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

$enable-rounded: false;
$enable-shadows: true;
