{{ $col_id := .Get "color" | default .Ordinal }}
{{ $links := .Site.Params.links }}

<section class="row td-box td-box--{{ $col_id }} td-box--4 td-box--gradient td-box--height-auto linkbox">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h2>Learn and connect</h2>
    <p>Using or want to use {{ .Site.Title }}? Find out more here:</p>
      {{ with index $links "user"}}
      {{ template "community-links-list"  . }}
      {{ end }}
    <p>There are more details on our <a href="/community">Community and Contact</a> page.</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h2>Join and contribute</h2>
    <p>If you want to get more involved by contributing to {{ .Site.Title }}, join us here:</p>
      {{ with index $links "developer"}}
      {{ template "community-links-list"  . }}
      {{ end }}
  </div>
</section>

{{ define "community-links-list" }}
<ul style="list-style:none; padding-left:0;">
 {{ range . }}
 <li title="{{ .name }}">
   <a href="{{ .url }}"><i class="{{ .icon }}"></i>&nbsp;&nbsp;{{ .name }}:</a> {{ .desc }}
 </li>
  {{ end }}
</ul>
{{ end }}