<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 text-center text-lg-left">
              {{ with .Site.Params.copyright }}&copy; {{ now.Year}} {{ . }} {{ T "footer_all_rights_reserved" }}{{ end }}
              {{ with .Site.Params.privacy_policy }}<small class="ml-1"><a href="{{ . }}" target="_blank">{{ T "footer_privacy_policy" }}</a></small>{{ end }}
            </div>
            <div class="col-md-4 col-sm-4 text-center">
              <button class="btn btn-sm btn-primary" onclick="displayPreferenceModal()">Manage cookie preferences</button>
            </div>
            <div class="col-md-4 col-sm-4 text-center text-lg-right">    
              Based on <a target="_blank" rel="noopener" href="https://www.wowthemes.net">Mediumish Theme</a> by WowThemes.net
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
